@import url('screen.css');

.account10{
    place-self: start;
    width: 70%;
    height: auto;
    overflow: hidden;
    display: grid;

    grid-template: auto 1fr auto/ auto 1fr;
    background: var(--theme1);
    border-radius: var(--brall);
    padding: 0 .5rem;
}

.dbonus{
    grid-area: 1/1/2/3;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--tt);
    padding: .7em;
    text-align: center;

}
.balanceCard {
    grid-area: 2/1/3/2;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 7px 10px rgba(28, 4, 4, 0.1);
    background: var(--bgdiv1);
}

.headerss {
    font-size: 1em;
    font-weight: 600;
    text-wrap: nowrap;
}

.circle {
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 20px #fff;
    overflow: hidden;
    background: conic-gradient( #0cb600 66%, rgba(255, 255, 255, 0.12) 66%);
}

.percentage {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgdiv6);
}

.amount {
    font-size: 1.2em;
    font-weight: bold;
}


.bonusinf{
    grid-area: 2/2/3/3;
    display: grid;
    grid-gap: .8rem;
    place-content: start center;
    padding: .5rem;
}

.bonusinf span{
    color: #dedede;
    font-weight: 800;
    text-wrap: nowrap;
}

.bonusinf span i{
    font-weight: 600;
    font-style: normal;
    text-wrap: nowrap;
    color: #fff;
    
}

.bonusbtn{
    grid-area: 3/1/4/3;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 720px) {
    .account10{
        width: 100%;

    }

}

@media only screen and (max-width: 480px) {
    .account10{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-gap: .5em;

    }

    .circle {
        position: relative;
        width: 80px;
        height: 80px;
    }

    .percentage {
        font-size: 1em;
        
    }
    .headerss {
        font-size: 0.9em;
        font-weight: 700;
        text-wrap: wrap;
        grid-area: 1/1/2/2;

    }
    .balanceCard {
        grid-area: 2/1/3/2;
        width: 150px;
        height: 150px;
        place-self: center;

    }
    .bonusinf{
        grid-area: 3/1/4/2;

    }
    .bonusbtn{
        grid-area: 4/1/5/2;
    }
    .account12more ul li span{
        font-weight: 800;
        font-size: .9em;
    
    }
    
    .account12more ul li i{
        font-size: .8em;
    }

    .dbonus{
        padding: .3em;
    
    }

}
