body{
    background: #fff;
    color: #000;
    grid-template-columns: 1fr;
}

.root{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    /* place-content: start; */
}

.header{
    grid-area: 1/1/2/3;
    height: auto;
}
.navbar{
    grid-area: 2/1/3/2;
}
.main{
    width: 100%;
    height: 100%;
    grid-area: 2/2/3/3;
    display: grid;
    padding: .5em;
}
/* 
.footer{
    display: none;
    grid-area: unset;
} */

@media only screen and (max-height: 700px) {

}

@media only screen and (max-width: 1180px) {


}

@media only screen and (max-width: 887px) {
    .root{
        grid-template-columns: 1fr;
        grid-template-rows: 8% 1fr;
        grid-auto-flow: row;
        overflow: auto;
    }
    .header{
        grid-area: 1/1/2/2;
    }
    .navbar{
        grid-area: unset;
        display: none;
    }
    .main{
        display: grid;
        grid-area: 2/1/3/2;
        grid-template-columns: 1fr;
        overflow: visible;
    }
    /* .footer{
        grid-area: 3/1/4/2;
        display: grid;
        place-content: center;
        height: auto;
        background: #8e08cb;
        color: #fff;
        font-size: .8em;
        font-weight: 800;
        font-style: italic;
        padding: 0.7em 0;
    }
    .footer a {
        color: #fff;
        text-decoration: none;
    } */
    
}

@media only screen and (max-width: 787px) {

}


@media only screen and (max-width: 680px) {


}

@media only screen and (max-width: 570px) {

  
}

@media only screen and (max-width: 480px) {

  
}

@media only screen and (max-width: 330px) {

  
}