.deposit{
    display: grid;
    margin: .5rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    place-items: start center;
    padding: .9em 0;
}

.depositf{
    padding: .7em 1.3em;
    background: var(--theme1);
    border-radius: var(--brall);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .9em;
    width: 400px;
}

.formh{
    color: #fff;
    display: flex;
    grid-gap: .5em;
    font-weight: 800;
    font-size: 1.1em;
}

.formdiv {
    display: grid;
    grid-gap: .4em;

}

.formdiv label{
    color: #fff;
    font-style: italic;
    font-weight: 800;
}

.formdiv select,
.formdiv input{
    padding: .6em 0.9em;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: var(--brall);
}

.depositf button{
    background: var(--theme3);
    border: none;
    color: #fff;
    padding: .7em 1.3em;
    border-radius: var(--brall);
    font-weight: 800;
}

.tablediv{
    overflow: auto;
    max-width: 500px;
    border-radius: var(--brall);
}
.table{
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    padding: 1rem;
    border: 1px solid #211d1d;
    overflow: auto;
}
.table thead{
    position: sticky;
    top: 0; 
    z-index: 1;
    text-align: left;
}
.table thead tr{
    background: var(--theme1);
}

.table th{
    padding: .7em .4em;
}
.table tbody tr{
    border-bottom: 1px solid #adabab;
}

.table tbody tr td{
    padding: .5em .4em;
    color: #000;
    text-wrap: nowrap;
}
.table  tbody tr:nth-of-type(even) {
    background-color: #ede9e9;
}
.table tbody tr:hover{
    background-color: #0ddccb;
}


@media only screen and (max-width: 840px) {
    .deposit{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: .5em;
    }
    .tablediv{
        width: 100%;
        max-height: 300px;
    }
    .depositf{
    }
}


@media only screen and (max-width: 440px) {
    .deposit{
        place-content: start;
    }
    .depositf{
        width: 100%;
    }
}