.forex{
    width: 100%;
    width: 100%;
    display: grid;
    grid-gap: .1em;
    background: var(--theme1);
    position relative;
    border-radius: var(--brall);
    overflow: hidden;
}
/* .forex:hover > .card, */
.goback{
    cursor: pointer;
    transform: rotateY(180deg);
}

.TableList{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.card{
    width: 100%;
    height: 100%;
    perspective: 500px;
    position relative;
    transform-style: preserve-3d;
    /* overflow: hidden; */
    /* transition: transform 1500ms; */
}
.front,
.back{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: #fff;
    z-index: 5;
}

.front{
    /* background: #c15a5a; */
}
.back{
    background: hsla(254, 44.80%, 5.70%, 0.96);
    transform: rotateY(180deg);
    overflow: auto;
    width: 100%;
    height: 100%;
}

.forexh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em .6em;
    border-bottom: 2px solid #eeeeee;
    position: relative;
    /* z-index: 2; */
}
.btnno{
    border: none !important;
    background: #e6900e !important;
}
.btnno:hover {
    background: rgba(222, 141, 21, 0.91) !important;
}

@media only screen and (max-width: 720px) {

    .forex{
        width: 100%;
    }
}
