
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('screen.css');

.header {
    background: var(--theme1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "earnlogo earntitle iconsnav";
    place-items: center;
    padding: .3em;
    grid-gap: .3em;
    z-index: 11;
}

.header .earnlogo {
    grid-area: earnlogo;
    width: 100px;
    overflow: hidden;
    justify-self: start;
    margin-left: 2rem;
}

.header .earnlogo img{
    width: 80%;
    height: 80%;
}
.header .earntitle {
    grid-area: earntitle;
    font-size: 1.9rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;

}


.header .iconsnav {
    grid-area: iconsnav;
    place-self: center end;
    display: flex;
    gap: .9em;
    padding-right: 1.4rem;
    color: #fff;
}

.header .iconsnav i {
    font-size: 1.4rem;
    transition: all .5s ease;
}

.header .iconsnav i:hover{
    cursor:  pointer;
    transform: scale(.9);
    z-index: auto;
}
.header .iconsnav i:hover,
.header .earntitle:hover{
    background: linear-gradient(110deg, #ff0095, #fff700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media only screen and (max-width: 570px) {

  
}

@media only screen and (max-width: 500px) {
    .header {
        grid-template-columns: auto auto 1fr auto;
        grid-gap: 0.6em;
        
    }

    .header .earnlogo {
        margin: 0;
        justify-self:  start;
        width: 40px;
        grid-area: 1/1/2/2;

    }
    .header .earnlogo img{
        width: 100%;
        height: 100%;
    }
    .menui{
        grid-area: 1/2/2/3;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 800;
        transition: all .5s ease-in-out;
    }
    .header .earntitle {
        grid-area: 1/3/2/4;
        font-size: 1.2rem;
        text-wrap: wrap;
        text-align: center;
    }
    .header .iconsnav {
        grid-area: 1/4/2/5;
        padding-right: .9rem;
    }

    .header .iconsnav i {
        font-size: 1.1rem;
    }

}

@media only screen and (max-width: 330px) {

  
}
