
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+DE+Grund:wght@100..400&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url(screen.css);

  body{
  background:  linear-gradient(120deg, rgb(186, 143, 12) 30%, rgb(103, 73, 224) 80%);
  display: grid;
  place-content: center;
}

.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  animation: move 5s infinite alternate;
  z-index: 1;
}

.ball.white {
  background: linear-gradient(to right, white, transparent);
  width: 50px;
  height: 50px;
  animation-duration: 6s;
}

.ball.green {
  background: linear-gradient(to right, green, transparent);
  width: 60px;
  height: 60px;
  animation-duration: 7s;
}

.ball.blue {
  background: linear-gradient(to right, blue, transparent);
  width: 40px;
  height: 40px;
  animation-duration: 8s;
}

@keyframes move {
  0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  25% {
      top: 10%;
      left: 10%;
  }
  50% {
      top: 90%;
      left: 10%;
  }
  75% {
      top: 90%;
      left: 90%;
  }
  100% {
      top: 10%;
      left: 90%;
  }
}


.jump{
    /* background: rgba(87, 85, 85, 0.34); */
    padding: 0.5em 0.4em;
    display: grid;
    place-items: center;
    grid-gap: 1.8em;
}
.jump .eec{
    font-size: 1.3em;
    font-family: "Roboto Serif", serif;
    color: rgba(161, 148, 148, 0.79);
}

.jump .eec i
{
    font-size: 1.7em;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
}


.jumphead{
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(90deg, #ea3675, #c510bc 70%, #7c07cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
}


.jump p {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 600;
}

.colorset{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;
    z-index: 9;
}
.actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
}

.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }



.authform{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #ffffff8c;
    box-shadow: 0 0 10px rgba(47, 45, 45, 0.73);
    /* backdrop-filter: blur(1px); */
    border-radius: 5px;
    z-index: 1000;
    color: #000;
}
  

::selection {
    background-color: grey;
  }
  
  .container {
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(160deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: z-index 0.8s, transform 0.7s, opacity 0.7s;
    border-radius: 0.5rem;

}

.form {
    width: 400px;
    height: 100%;
    background: var(--theme1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 0.5rem;
    padding: 0.5em;
    grid-gap: 0.9em;
}
.handletrans {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0deg);
    z-index: 10;   
}
  
.killsignup,
.killlogin {
    position: absolute;
    top: 3%;
    left: 1%;
    fill: wheat; 
    stroke: black; 
    stroke-width: 1px; 
    width: 90px; 
    height: 30px; 
    z-index: 10;
}


  .allinputs,
.imghead{
  display: grid;
  place-items: center;
  padding: 0.9em 0.5em;
  border: 1px solid #fff;
  border-radius: 0.5em;
}
.imghead img{
  width: 120px;
}

  .title {
    color: #fff;
    font-size: 1.2rem;
    text-wrap: nowrap;
    font-weight: 600;
  }

  .allinputs{
    display: grid;
    grid-gap: 1.5em;
    place-items: center;
  }
  .allinputs span{
    font-size: 1.6rem;
    font-weight: 800;
  }
  .cselect,
  .input {
    padding: 1.2em 0.8em;
    width: 20rem;
    background-color: inherit;
    color: #000;
    border: none;
    outline: none;
  }
  
  .cselect option{
    color: #000;
  }
  .cselect::placeholder,
  .input::placeholder{
    color: #d8d6d6;
  }

.cselect:hover::placeholder,
  .input:hover::placeholder{
    color: #5e5a5a;
  }

  .allinputs select,
  .username {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
  }
  
  .username:hover {
    background-color: #d5cdcd;
    border: none;
    border-radius: 0.5rem;
  }
  
  .password {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
  }
  
  .password:hover {
    background-color: #d5cdcd;
    border: none;
    border-radius: 0.5rem;
  }
  
  .authbtn {
    height: 3rem;
    width: 20rem;
    margin-top: 0.5rem;
    background: linear-gradient(40deg, #d08610 40%, #0fea79);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    /* box-shadow: 0 0 10px  antiquewhite, 0 0 10px antiquewhite; */
    color: #fff;
    
  }
  
  .authbtn:hover {
    box-shadow: none;
  }
  


  .countrylist{
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    background: #ffffff;
    z-index: 50;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 1px #fff;
    overflow: hidden;
  }

  .chead{
    position: relative;
    grid-area: 1/1/2/2;
    color: #000;
    font-size:1rem;
    font-weight: 800;
    padding: 1em .9em !important;
    border-bottom: 1px solid grey;
  }
  .allc{
    grid-area: 2/1/3/2;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem;
    grid-auto-flow: row;
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }

  .inc {
    background: #;
    box-shadow: 0px 0px 4px 1px #c9c9c9;
    border-radius: 6px;
    padding: 0.5rem 0.4rem;
  }
  
  .inc:hover{
    background:  #f5f5f5;
  }



  @media only screen and (max-width: 570px) {

    .jumphead{
         font-size: 2.6rem;
    }

  
  }
  
  @media only screen and (max-width: 465px) {
  
    .jumphead{
        font-size: 2.4rem;
    }
    .jump p {
    font-size: 1rem;
    }

    
  }
  
  @media only screen and (max-width: 395px) {
    
    .jumphead{
        font-size: 2.1rem;
    }
    .jump p {
    font-size: 0.8rem;
    }
    .container{
        width: 95%;
        height: auto;
    }

    .form {
        width: 100%;
        height: 100%;
    }
    
  }

  @media only screen and (max-width: 375px) {
    
    .jumphead{
        font-size: 1.8rem;
    }
    .jump p {
    font-size: 0.7rem;
    }
    .btn{
        font-size: 15px;
    }
    .authbtn,
    .input {
        width: 15rem;
    }
    .container{
        max-height: 95%;
        overflow: auto;
        place-items: start;
    }
    
  }
  

  @media only screen and (max-width: 335px) {
    
    .jumphead{
        font-size: 1.6rem;
    }
    .jump p {
    font-size: 0.7rem;
    }

    .countrylist{
      width: 90%;
    }
    
  }
  