* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;

}


html,
body{
    width: 100%;
    height: 100%;
    background: #690aa1;
    display: grid;
    place-items: center;
}

/* // rgb(272.1 71.7% 47.1%); */

:root{
    --tt:  yellow;
    --theme1: hsl(272.1 71.7% 47.1%);; 
    --theme2: #ff8c00;
    --theme3: #8e2de2;
    --theme4: #8f00ff;
    --theme5: #ff8c00;
    --theme6: #0cb600;
    --theme7: #0e00ca;
    --theme8: #002aff;

    --bgdiv1: linear-gradient(135deg, #ff4500, #ff8c00);
    --bgdiv2: linear-gradient(135deg, #0000ff, #1e90ff);
    --bgdiv3: linear-gradient(135deg, #8e2de2, #4a00e0);
    --bgdiv4: linear-gradient(135deg, #cd2bdb, #ee6aff);
    --bgdiv5: linear-gradient(135deg, #087a00, #0cb600);
    --bgdiv6: linear-gradient(135deg, #ff8c00, #ffa500);
    --bgdiv7: linear-gradient(135deg, #ba55ff, #8f00ff);
    --bgdiv8: linear-gradient(135deg, #179b00, #50ff00);
    --bgdiv9: linear-gradient(135deg, #552902, #e67700);
    /* --bgdiv9: linear-gradient(135deg, #de1414, #ff5900); */

    --border1: thin solid #fff;

    --brall: 10px;
  }
    /* --theme1: hsl(20.5 90.2% 48.2%); */

.overs{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.67) !important;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.movers{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff ;
  opacity: 0;
  transition: all .5s ease-in-out;
  place-content: center;
  place-items: center;
}
.showmovers{
  opacity: 1;
  display: flex;

}

.news{
  color: var(--theme5) !important;
}

/* From Uiverse.io by Satwinder04 */ 
.mloader {
  position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 164px;
    height: 100px;
  
    z-index: 100;
  background: #fff;
  display: none;
}

.mloader div {
  position: relative;
  width: 10px;
  height: 30px;
  background-color: #8f00ff;
  border-radius: 5px;
  animation: mloader_51899 1.5s ease-in-out infinite;
}

.mloader .bar1 {
  left: 0px;
  animation-delay: 0s;
}

.mloader .bar2 {
  left: 20px;
  animation-delay: 0.15s;
}

.mloader .bar3 {
  left: 40px;
  animation-delay: 0.3s;
}

.mloader .bar4 {
  left: 60px;
  animation-delay: 0.45s;
}

.mloader .bar5 {
  left: 80px;
  animation-delay: 0.6s;
}

.mloader .bar6 {
  left: 100px;
  animation-delay: 0.75s;
}

.mloader .bar7 {
  left: 120px;
  animation-delay: 0.9s;
}

.mloader .bar8 {
  left: 140px;
  animation-delay: 1.05s;
}

.mloader .bar9 {
  left: 160px;
  animation-delay: 1.2s;
}

@keyframes mloader_51899 {
  0% {
    height: 30px;
    transform: translate(0, 0);
  }

  50% {
    height: 70px;
    transform: translate(0, 35px);
  }

  100% {
    height: 30px;
    transform: translate(0, 0);
  }
}


  .larged{
    display: flex;
  }

  .smalld{
    display: none;
  }

  .showall{
    z-index: 10 !important;
    opacity: 1 !important;
    display: flex !important;
  }


  /* .authbtn {
    height: 3rem;
    padding: .7rem .9rem;
    margin-top: 0.5rem;
    background: var(--theme6);
    border-radius: var(--brall);
    border: 5px double #fff;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer; 
    transition: all .7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .authbtn:hover{
    background: var(--theme5);
    transform: translateY(-4px);
  }
   */

  .act{
    color: var(--tt) !important;
  }

  /* From Uiverse.io by adamgiebl */ 
.authbtn {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif !important;
  font-weight: 800;

}

.authbtn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.authbtn:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}