* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: system-ui;
}

html,
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
:root{
  --tt: ;
    --tt: #02187b;
    --btnbg: ;
    --btnhov: greenyellow;
    --theme1: #4fa5df;
    --theme2: #ff8c00;
    --theme3: #8e2de2;
    --theme4: #8f00ff;
    --theme5: #ff8c00;
    --theme6: #0cb600;
    --theme7: #0e00ca;
    --theme8: #002aff;

    --bgdiv1: linear-gradient(135deg, #ff4500, #ff8c00);
    --bgdiv2: linear-gradient(135deg, #0000ff, #1e90ff);
    --bgdiv3: linear-gradient(135deg, #8e2de2, #4a00e0);
    --bgdiv4: linear-gradient(135deg, #ee40ff, #ee6aff);
    --bgdiv5: linear-gradient(135deg, #0cb600, #087a00);
    --bgdiv6: linear-gradient(135deg, #ff8c00, #ffa500);
    --bgdiv7: linear-gradient(135deg, #ba55ff, #8f00ff);
    --bgdiv8: linear-gradient(135deg, #179b00, #50ff00);

    --border1: thin solid #fff;

    --brall: 10px;
    /* --brall: 10px; */
}

.overs{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none !important;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.67) !important;
  opacity: 0;
  transition: all .5s ease-in-out;

}

.news{
  color: var(--theme5) !important;
}

.dots-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(39, 35, 35, 0.56);
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  .larged{
    display: flex;
  }

  .smalld{
    display: none;
  }

  .showall{
    z-index: 10 !important;
    opacity: 1 !important;
  }

  .authbtn {
    height: 3rem;
    padding: .7rem .9rem;
    margin-top: 0.5rem;
    background: var(--theme6);
    border-radius: var(--brall);
    border: 5px double #fff;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer; 
    transition: all .7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .authbtn:hover{
    background: var(--theme5);
    transform: translateY(-4px);
  }
  