@import url('screen.css');

.allshare {
    padding: .5emem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    gap: .8em;
}
.share{
    place-self: start;
    min-width: 100%;
    background: var(--theme1);
    height: auto;
    border-radius: var(--brall);
    overflow: hidden;
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    place-items: start;
    padding: .7rem .9rem;
    grid-gap: 1.5rem;
}

.uppower {
    background: var(--theme1);
    border-radius: var(--brall);
    padding: 1em;
    overflow: hidden;
}
.allt{
    border: 1px solid white;
    border-radius: var(--brall);

    margin-top: 14px ;
}

.power-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: var(--brall);
    overflow: hidden; /* Ensures proper border-radius clipping */
}

.power-table th, 
.power-table td {
    padding: 0.5em;
    border: 1px solid white;
    border-top: none;
}

.power-table tr:last-child td {
    
    border-bottom: none;
}


.power-table tr th:last-child,
    .power-table tr td:last-child {
    
    border-right: none;
}


tbody td {
    color: #fff;
}

tbody td:first-child ,
thead th:first-child {
    text-align: left;
    font-weight: 600;
    border-left: none;
}

thead th:first-child{
    font-weight: 700;
    text-align: left;

}
thead th {
    font-weight: 700;
    text-align: center;
    color: var(--tt);
}
.afflink{
    color: var(--tt);
    font-weight: 700;
    font-size: 1.2rem;
}

.share input {
    border-radius: var(--brall);
    padding: .6rem .5rem;
    font-size: .9em;
    font-weight: 400;
    outline: none;
    border: none;
    color: #848181;
    width: 80%;
}
.share button{
    place-self: end;
    margin: 0;
}


@media only screen and (max-width: 720px) {
    .share{
        width: 100%;

    }
}

@media only screen and (max-width: 440px) {
    .share{
        width: 95%;

    }
    .afflink{
        font-size: 1rem;
    }
    .share input{
        width: 100%;
    }
    .share button{
        font-size: 1rem;
    }

}
