@import url('screen.css');

.share{
    place-self: start;
    margin: 1rem;
    width: 100%;
    background: var(--theme1);
    height: auto;
    border-radius: var(--brall);
    overflow: hidden;
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    place-items: start;
    padding: .7rem .9rem;
    grid-gap: 1.5rem;
}

.afflink{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.share input {
    border-radius: var(--brall);
    padding: .6rem .5rem;
    font-size: .9em;
    font-weight: 400;
    outline: none;
    border: none;
    color: #848181;
    width: 80%;
}
.share button{
    place-self: end;
    margin: 0;
}


@media only screen and (max-width: 720px) {
    .share{
        width: 80%;

    }
}

@media only screen and (max-width: 440px) {
    .share{
        margin: .5rem;
        width: 95%;

    }
    .afflink{
        font-size: 1rem;
    }
    .share input{
        width: 100%;
    }
    .share button{
        font-size: 1rem;
    }

}
