.forex{
    display: grid;
    place-self: start;
    grid-template-columns 1fr;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: .8em;
    padding: .5em;
    background: var(--theme1);
    border-radius: var(--brall);
    overflow: auto;
    width: 100%;
}


.forexh{
    color: var(--tt);
    font-size: 1.1em;
    font-weight: 600;
    padding: .8em .5em;
}

.forex p{
    color: #fff;
    font-size: .9em;
}


.forex p span{
    color: var(--tt);
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0em;
}
.forex p span i {
    font-style: normal;
}
.actionbtns{
    display: flex;
    justify-content: space-around;
    overflow: auto;
    gap: .8em;
}
.actionbtns button{
    font-size: .8em;
    height: auto;
    padding: 7px 11px ;
}

.tablediv{
    overflow: auto;
    width: 100%;
    border-radius: var(--brall);
    border: 1px solid #fff;
}
.table{
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    padding: 1rem;
    overflow: auto;
    background: var(--theme1);
}
.table thead{
    position: sticky;
    top: 0; 
    z-index: 1;
    text-align: left;
}
.table thead tr{
    background: var(--theme1);
    border-bottom: 2px solid #fff;
}

.table th{
    padding: .7em .4em;
    color: var(--tt);
}
.table tbody tr{
    border-bottom: 1px solid #fff;
}

.table tbody tr td:nth-child(1){
    color: var(--tt);
}

.table tbody tr td{
    padding: .5em .4em;
    color: #fff;
    text-wrap: nowrap;
}
.table  tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.14);
}
.table tbody tr:hover{
    background-color: rgba(13, 220, 203, 0.61);
}

.serachuser{
    margin: 0 auto;
    padding: .6em .8em ;
    width: 300px;
    border-radius: 24px;
    outline: none;
    border: none;
    color: #000;
}


@media only screen and (max-width: 720px) {

    .forex{
        width: 100%;
    }

    .serachuser{
        margin: 0 auto;
        padding: .6em .8em ;
        width: 100%;
        border-radius: 24px;
        outline: none;
        border: none;
        color: #000;
    }
    
}
