.trivia{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    background: var(--theme1);
    border-radius: var(--brall);
    place-self: start;
    padding: .5em;
}

.trivia .triviah{
    color: var(--tt);
    font-size: 1.2em;
    font-weight: 600;
    padding: .8em .5em;
}

.content {
    border-radius: var(--brall);
    border: var(--border1);
    padding: .9em .5em;
    display: grid;
    grid-gap: .3em;
}
.content span{
    color: var(--tt);
    font-weight: 700;
    font-size: 1.1em;
    padding: .9em 0;

    
}
.instructions ul{
    color: #fff;
    padding-left: .9em;
    display: grid;
    grid-gap: .5em;
}

.container form{
    display: grid;
    grid-gap: .6em;
    padding: 0 .6em;
}

.dquiz{
    display: grid;
    grid-gap: .4em;
}
.cquiz {
    color: var(--tt);
    font-weight: 700;
}
.lbb{
    padding: .3em .4em;
    color: #fff;
}
.lbb:hover{
    background: rgba(238, 238, 238, 0.63);
    border-radius: var(--brall);

}
    @media only screen and (max-width: 720px) {

        .trivia{
            width: 100%;
        }
    }
    