# Ignore specific directories
auth/
eventify/

# Ignore specific files
.htaccess
*.log
*.env
error_log
README.md
MetaTag1.html
MetaTag2.html
account.css
tiktokvid
tiktokvid/video1.mp4
tiktokvid/video2.mp4