# <IfModule mod_php.c>
#     php_value date.timezone "Africa/Nairobi"
# </IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /earnempire/

    # Redirect to HTTPS
    #RewriteCond %{HTTPS} off
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Exclude real files and directories from rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite everything else to index.php
    RewriteRule ^ index.php [L]
</IfModule>
